.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  border: 1px solid black;
  background-color: pink;
}

.header__container {
  padding: 20px;
}

.header__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.1;
}

.form__container {
  padding-top: 50px;
}

.form__title {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.1;
  padding-bottom: 30px;
}

.form__input-wrapper {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.form__input {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid grey;
  width: 300px;
}

.button {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 800;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  border: 1px black solid;
  background-color: lightcoral;
  width: 100px;
}

.form__submit-button {
  background-color: darkseagreen;
}

.form__button-wrapper {
  display: flex;
  gap: 20px;
}

.form__error-message {
  color: red;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  padding-bottom: 15px;
}






